/*  Setting the safe areas using env with fallback value as second param.
    https://developer.mozilla.org/en-US/docs/Web/CSS/env */
.app-container {
    margin: env(safe-area-inset-top, 6px)
            env(safe-area-inset-right, 6px)
            env(safe-area-inset-bottom, 6px)
            env(safe-area-inset-left, 6px);
}


/*  Example rules for ui elements to avoid things like 
    ex. text-selection on buttons when going mobile */
.app-ui-element {
    user-select: none; /* Disable selection */
    -webkit-user-select: none; /* Disable selection (Webkit) */
    -webkit-tap-highlight-color: rgba(3, 169, 244, 0.6); /* Overlay color when tapping area */
    -webkit-touch-callout: none /* Disable touch callout on long touch (iOS/iPad) */
  }

.header {
  display: grid;
  grid-column: auto auto auto;
  background-color: #03A9F4;
  border-bottom: 1px solid gray;
}

.header h1 {
  color: white;
}

.app-content {
  padding: 1rem 1rem;
}

#button-notification {
  margin-top: 1rem;
}

/* Custom CSS for standalone mode. 
   Supports values 'standalone', 'fullscreen', 'minimal-ui' and 'browser' */
@media (display-mode: standalone) {

}